.button {
  display: inline-block;
  background: #0084B4;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 2px;
  color: rgba(255,255,255,.9);
  cursor: pointer;
}
.button .price {
  color: #fff;
  margin-left: 4px;
  font-weight: bold;
}
.button.hollow {
  background: rgba(100,100,100,.05);
  border: 1px solid #0084B4;
  color: #0084B4;
  margin-right: 10px;
}
.button:hover {
  background: #0097ce;
}

.button.hollow:hover {
  background: rgba(100,100,100,.02);
}
