@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #fafafa;
  font-family: 'Open Sans', sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  transition: background .2s ease;
}

.header.sticked {
  background: #fff;
  box-shadow: 0 3px 3px rgba(0,0,0,.1);
}

.header.sticked a {
  color: #333;
}

.logo {
  font-family: 'Questrial';
  display: inline-block;
  color: #fff;
  margin: 20px 0 0 0;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  text-decoration: none;
}

.container {
  max-width: 1024px;
  padding: 0 20px;
  margin: 0 auto;
}

footer {
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  padding: 40px 0;
  text-align: center;
  color: #aaa;
}

footer.dark {
  background: #81807a;
  color: rgba(255,255,255,.7);
}

section {
  padding: 90px 10px;
}

section.shaded {
  background: #efefef;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.promo {
  padding: 30px 10px;
  background: #FFC052;
  text-align: center;
}

.promo h1 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: #fff;
}

.promo .button {
  font-size: 16px;
}
