@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #fafafa;
  font-family: 'Raleway', sans-serif;
}

.background {
  height: 100%;
  background: url("../images/background.jpg") center center / cover no-repeat fixed rgb(0, 0, 0);
}

.bg-container {
  position: fixed;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(0,0,0,0.6);
  overflow: scroll;
}

.bg-container .hero {
  padding: 80px 0 10px;
}

.presenter {
  color: #fff;
  background: #B078C1;
  background: url('../images/cinematic_bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.bg-presenter {
  height: 100%;
  background: rgba(0,0,0,0.3);
  position: relative;
}

.presenter.instagram {
  background: #FFC052;
  background: url('../images/instagram_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  padding: 200px 0;
}

.hero h1 {
  margin: 0 auto 30px auto;
  font-weight: normal;
  font-size: 42px;
  line-height: 50px;
}

.hero h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.6em;
  color: rgba(255,255,255,.8);
  margin-bottom: 60px;
}

.hero a:not(.button) {
  color: rgba(255,255,255,.8);
}

.hero, .container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

section {
  padding: 30px 10px;
}

section.shaded {
  background: #efefef;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

section.shaded .container {
  max-width: 768px;
}

section.shaded .container img {
  max-width: 100%;
}

.lut {
  margin-bottom: 40px;
}

.promo {
  padding: 30px 10px;
  background: #FFC052;
  text-align: center;
}

.promo h1 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: #fff;
}

.promo .button {
  font-size: 16px;
}

.footer {
  text-align: center;
  font-size: 13px;
  color: #999;
}
