.navigation {
  list-style: none;
  float: right;
  padding: 0;
  margin: 20px 0;
  font-size: 14px;
  font-family: 'Questrial';
  letter-spacing: 3px;
}

.navigation li {
  display: inline-block;
  margin-right: 20px;
}

.navigation li a {
  color: #fff;
  text-decoration: none;
}

.navigation a.current {
  color: #FFC052;
}
