.row {
  overflow: hidden;
  max-width: 1024px;
  margin: 0 auto 30px auto;
}
.col1of2 {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 0 20px;
}
.slide {
  text-align: center;
}

.slide h2 {
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 26px;
  text-transform: uppercase;
}

.slide img {
  display: block;
  max-width: 100%;
  box-shadow: 0px 0px 10px #000000;
  filter: brightness(80%);
  border: 1px solid #fff;
}

.slide img:hover {
  filter: brightness(100%);
}
.slide .button {
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0;
  border: 1px solid #fff;
  background: rgba(0,0,0,.3);
  color: #fff;
  margin-right: 10px;
  transition: background .2s ease;
}
.slide .button:hover {
  background: rgba(0,0,0,.8);
}

@media (max-width: 768px) {
  .bg-container {
    overflow-y: scroll;
    min-width: 330px;
  }
  .row .col1of2 {
    float: none;
    width: 100%;
    margin-bottom: 40px;
  }

  .row .col1of2 .slide {
    max-width: 320px;
    margin: 0 auto;
  }

}
